:root {
    --brand-color: #A51C30;
    --r-heading-color: var(--brand-color);
    --r-main-color: #3D3D3D;
    --r-link-color: #007ead;
    --r-link-color-dark: #00658c;
}

/* Style inline code except when we're using it to wrap math. */
code:not(:has(.katex-display, mjx-container)) {
    color: #5F6962;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #F0F0F2;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.contrast-slide {
    background-color: var(--brand-color) !important;
}
