:root {
    --brand-color: #A51C30;
    --r-heading-color: var(--brand-color);
    --r-main-color: #3D3D3D;
    --r-link-color: #007ead;
    --r-link-color-dark: #00658c;
}

/* Style inline code except when we're using it to wrap math. */
code:not(:has(.katex-display, .katex, mjx-container)) {
    color: #5F6962;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #F0F0F2;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.contrast-slide {
    background-color: var(--brand-color) !important;
}

.reveal blockquote {
    box-shadow: none;
    padding-left: 1em;
    padding-right: 1em;
    background: #F0F0F2;
    border-left: #D6D6D7 0.2em solid;
    text-align: left;
    overflow: auto;  /*needed for the author float to stay inside the blockquote*/
    border-radius: 10px;
}

.reveal blockquote p.author {
    float: right;
    font-family: serif;
}

.reveal table td {
    border: none;
}

.reveal table th {
    background-color: #F0F0F2;
    border-bottom: #D6D6D7 solid;
}

.reveal table {
    border: #D6D6D7 solid;
    border-radius: 10px;
    /* needed for borders to show: https://stackoverflow.com/a/4932321/1150961 */
    border-collapse: separate;
    /* needed to avoid the child clipping the border: https://stackoverflow.com/a/3724210/1150961 */
    overflow: hidden;
}

.reveal ul {
    list-style: none;
}

.reveal ul li::before {
    color: var(--brand-color);
    content: "⏵";
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
